*{
    padding: 0;
    margin: 0;
}

.p-password-recover{
    font-size: 1vw;
    color: #AFAFAF; 
    font-weight: 500;
    width: 60%;
    margin-top: 0;
    margin-bottom: 3%;
}

.p-create-account{
    font-size: 1vw;
    margin-top: 7%;
}

.p-create-account a{
    color: black;
}

/*Media*/

@media (max-width: 414px) {

    .p-password-recover{
        font-size: 4vw;
        margin-left: 5%;
    }
    
    .p-create-account{
        font-size: 4vw;
        margin-bottom: 10%;  
    }
    
    .p-create-account a{
        color: black;
    }

}