.title-page-mydonates{
    margin: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 2vw;
    font-weight: 600;
    width: 16%;
}

.not-found{
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
}

/*Media*/

@media (max-width: 414px) {

    .title-page-mydonates{
        width: 55.4%;
        margin: auto;
        margin-bottom: 10%;
        margin-top: 10%;
        font-size: 7vw;
        font-weight: 600;
    }

}