@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

.about-us-content{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.content-about-group{
    width: 95%;
    margin: auto;
    display: flex;
}

.green-square{
    width: 2.7%;
    background-color: #9FDDAF;
    height: 6%;
    color: transparent;
    position: absolute;
    transform: rotate(40deg);
    margin-top: 3%;
    margin-left: 2%;
}

.white-square{
    width: 3.3%;
    border: solid 1px #9FDDAF;
    height: 7%;
    color: transparent;
    position: absolute;
    transform: rotate(40deg);
    margin-left: 4.5%;
    margin-top: 5.3%;
}

.text-about-us{
    width: 40%;
    margin-top: 12%;
}

.text-about-us h2{
    color: #3E5744;
    font-size: 2.2vw;
    margin-left: 6%;
}

.text-about-us p{
    color: #3E5744;
    font-size: 1.2vw;
    margin-left: 6%;
}

.content-about-group img{
    margin-left: 20%;
    width: 30%;
}

/*Media*/

@media (max-width: 414px) {

    .green-square{
        width: 8%;
        height: 3.7%;
        margin-top: 7%;
        margin-left: 6%;
    }
    
    .white-square{
        width: 10%;
        height: 4.7%;
        margin-left: 13%;
        margin-top: 14%;
    }

    .content-about-group{
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .text-about-us{
        width: 100%;
    }
    
    .text-about-us h2{
        color: #3E5744;
        font-size: 7vw;
        margin-left: 3%;
        margin-top: 20%;
        margin-bottom: 3%;
    }

    .text-about-us p{
        font-size: 4.7vw;
        padding: 0.5%;
        margin: 0 3% 0 3%;
    }

    .content-about-group img{
        margin: auto;
        margin-top: 5%;
        width: 70%;
    }

}