.title-page-feed{
    margin: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 2vw;
    font-weight: 600;
    width: auto;
}

/*Media*/

@media (max-width: 414px) {

    .title-page-feed{
        width: 70%;
        margin: auto;
        margin-bottom: 10%;
        margin-top: 10%;
        font-size: 7vw;
        font-weight: 600;
    }

}