@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

.donation{
    background-color: #F3F3F3;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    width: 49vh;
    height: 55vh;
    margin-bottom: 5%;
}

.container-button-donation-edit{
    margin-top: 2%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    height: 3.5vh;
}

.button-donation-edit{
    border: none;
    cursor: pointer;
    margin-right: 5%;
}

.button-donation-delete{
    border: none;
    cursor: pointer;
}

.icon-donation{
    width: 50%;
    height: 3.5vh;
    background-color: #F3F3F3;
}

.donation-container-img{
    width: 85%;
    height: 28vh;
    border-radius: 25px;
    background-color: #D9D9D9;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
}

.donation-container-img img{
    max-width: 50%;
    margin: auto;
}

.donation-title{
    color: #59D678;
    font-weight: 500;
    width: 85%;
    margin-left: 7%;
    font-size: 1.6vw;
    margin-bottom: 2%;
    text-align: left;
}

.donation-description{
    width: 85%;
    margin-left: 7%;
    font-size: 1vw;
    margin-bottom: 5%;
}

.donation-second-content{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    height: 5vh;
    align-items: flex-end;
}

.donation-category{
    font-size: 1vw;
    text-align: end;
}

.container-button-donation-edit button{
    background-color: #F3F3F3;
    border-radius: 25px;
    border: solid 1px #59D678;
    color: #59D678;
    width: 20vh;
    height: 2vw;
    cursor: pointer;
}

.container-button-feed{
    display: flex;
    width: 45%;
    justify-content: space-between;
    height: 5vh;
}

#btn-request{
    width: 60%;
    color: #59D678;
    border-radius: 25px;
    border: solid 1px #59D678;
    background-color: #F3F3F3;
    cursor: pointer;
}

#btn-msg{
    width: 30%;
    color: #59D678;
    border-radius: 25px;
    border: solid 1px #59D678;
    background-color: #F3F3F3;
    cursor: pointer;
}

/*Media*/

@media (max-width: 414px) {

    .donation{
        margin-bottom: 10%;
    }

    .donation-title{
        font-size: 3vh;
    }
    
    .donation-description{
        font-size: 2.2vh;
    }
    
    .donation-second-content{
        display: flex;
        width: 85%;
        margin: auto;
        justify-content: space-between;
    }
    
    .donation-category{
        font-size: 2.2vh;
    }
    
    .donation-second-content button{
        font-size: 2vh;
        width: 17vh;
        height: 8vw;
    }

    .container-button-feed{
        display: flex;
        width:55%;
        height: 4vh;
    }

}