.donate{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width: 60vh;
    height: 50vh;
}

.prod{  
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3%;
    height: 90%;
    width: 30%;
    border: solid 1px #D9D9D9;
}

.donate p{
    margin: auto;
    font-size: 1.2vw;
}

.product-header{
    background-color: #D9D9D9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    padding: 1.6%;
    max-width: 100%;
}

.product-header h2{
    font-size: 1.6vw;
    font-weight: 500;
    margin: auto;
    text-transform: lowercase;
} .product-header h2::first-letter{
    text-transform: uppercase;
}

.product-footer{
    width: 98%;
    max-width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-footer h3{
    font-size: 1.2vw;
    font-weight: 500;
    margin: auto;
    margin: 0;
    color: #D9D9D9;
}

.product-footer div{
    width: 42%;
    display: flex;
}