.container-carousel{
    width: 100%;
    margin-top: 5%;
    justify-content: center;
    height: 30vh;
}

.container-carousel-img{
    width: 50vh;
    display: flex !important;
}

.img-carousel{
    max-width: 80%;
    margin: auto;
    border-radius: 25px;
    object-fit: cover;
}

.swiper-button-prev::after{
    color: #59D678;;
}

.swiper-button-next::after{
    color: #59D678;
}

@media (max-width: 414px) {

    .container-carousel{
        width: 90%;
    }

}